<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zlab_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import zlab_robot urdf file -->
    <xacro:include filename="$(find zlab_robot_description)/urdf/zlab_robot_dual.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="zlab_robot.ros2_control.xacro" />


    <xacro:zlab_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
