<?xml version="1.0"?>
<!-- 
    双机械臂配置的 xacro 文件
    这是一个包装文件，引用主 xacro 并指定双臂配置
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_arm">
    
    <!-- 指定配置文件 -->
    <xacro:arg name="config_file" default="$(find zlab_robot_description)/config/robot_config_dual_arm.yaml" />
    
    <!-- 引入主 xacro 文件 -->
    <xacro:include filename="$(find zlab_robot_description)/urdf/zlab_robot.urdf.xacro" />
    
</robot>
